body {
  margin: 0;
  font-family: "inter";
  background: #f5f5f5;
}
h1 {
  font-size: 50px;
}
.addTaskMain {
  display: flex;
  justify-content: center;
}
b {
  padding: 4px;
}
li{
  list-style-type: none;
}
.leftAndRightConatiner {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.leftSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.rightSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #d1d1d1;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.prio {
  display: flex;
  flex-direction: column;
}
.addTaskContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

.addTaskBtns {
  display: flex;
  padding: 40px;
  justify-content: flex-end;
  align-items: center;
}

.addTaskBtn {
  border: 1px solid black;
  padding: 8px;
}

.checkboxContainer {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 136px;
  height: 52px;
  justify-content: space-evenly;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
}

.checkboxContainer:hover {
  cursor: pointer;
  width: 138px;
  height: 54px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.33);
}

.checkboxPosi {
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.paddLeRe40px {
  padding-left: 40px;
  padding-right: 40px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.selectedCategoryText {
  display: flex;
  height: 16px;
  align-items: center;
}

.selectedCategoryTextOpen {
  padding: 0 20px;
  display: flex;
  height: 42px;
  align-items: center;
}

select {
  outline: none;
  box-sizing: border-box;
  display: flex;
  padding: 13px 21px;
  width: 422px;
  height: auto;
  background: #ffffff;
  border: 1px solid #d1d1d1b6;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
}
input {
  outline: none;
  box-sizing: border-box;
  display: flex;
  padding: 13px 21px;
  width: 422px;
  height: auto;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
}
textarea{
  resize: vertical;
  outline: none;
  box-sizing: border-box;
  display: flex;
  padding: 13px 21px;
  width: 422px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
}

.openCategoryContainer {
  outline: none;
  box-sizing: border-box;
  display: flex;
  padding: 13px 21px;
  width: 422px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
  flex-direction: column;
  height: 43px;
  display: flex;
  justify-content: center;
  padding-left: 17px;
}

.openCategory {
  outline: none;
  box-sizing: border-box;
  display: flex;
  padding-left: 21px;
  width: 422px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.categoryIsOpen {
  outline: none;
  box-sizing: border-box;
  display: flex;
  width: 422px;
  height: auto;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  flex: none;
  cursor: pointer;
  flex-direction: column;
}

.newCategory {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categoryTextColorPosi {
  display: flex;
  align-items: center;
  padding-right: 22px;
  justify-content: space-between;
}
.newCategoryDiv {
  display: flex;
  position: relative;
  align-items: center;
}
.acceptNewCategory {
  position: absolute;
  right: 10px;
  padding: 6px;
  background-color: white;
  border: none;
  border-left: 1px solid gray;
  cursor: pointer;
}
.closeNewCategory {
  position: absolute;
  right: 34px;
  padding: 6px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.newCategory:hover {
  background-color: grey;
}

.allCategorysContainer {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.dropColorContainer{
  position: absolute;
  right: 15%;
}

.dropColorContainerSet{
  position: absolute;
  right: 15%;
}



.assignBubble {
  display: flex;
  padding-left: 6px;
}

.assignBubble div:not(:first-child) {
  margin-left: -5px;
}



.assignBubble div {
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 12px;
}

#selectedCategory {
  background-image: url(../assets/img/arrayBottom.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}
#assignedTo {
  background-image: url(../assets/img/arrayBottom.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}

#subtask {
  background-image: url(../assets/img/plusSubtask.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}

.blueBtn {
  background: #2a3647;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #2a3647;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
}

.blueBtn:hover {
  transition: none;
  background-color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.33);
}

.whiteBtn {
  background: #ffffff;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #2a3647;
  border-radius: 6px;
  color: #2a3647;
  cursor: pointer;
}

.whiteBtn:hover {
  color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.33);
}

.colorCategoryContainer {
  display: flex;
  justify-content: space-between;
  width: 225px;
  padding: 6px;
}
.colorCategoryLightBlue:hover {
  border: 2px solid lightskyblue;
}

.colorCategoryLightBlue {
  background-color: lightskyblue;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}

.colorCategoryRed:hover {
  border: 2px solid red;
}
.colorCategoryRed {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}
.colorCategoryGreen:hover {
  border: 2px solid green;
}
.colorCategoryGreen {
  background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}
.colorCategoryOrange:hover {
  border: 2px solid orange;
}
.colorCategoryOrange {
  background-color: orange;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}
.colorCategoryPurple:hover {
  border: 2px solid purple;
}
.colorCategoryPurple {
  background-color: purple;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}

.colorCategoryBlue:hover {
  border: 2px solid blue;
}

.colorCategoryBlue {
  background-color: blue;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid white;
}

.prioLowContainerOnClick {
  background: #7ae229;
  width: 138px;
  height: 54px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.33);
}

.prioNormalContainerOnClick {
  background: #ffa800;
  width: 138px;
  height: 54px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.33);
}
.prioHighContainerOnClick {
  background: #ff3d00;
  width: 138px;
  height: 54px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.33);
}

.prioIconWhite path {
  fill: white;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #2a3647;
  border-radius: 10px;
}