body {
    margin: 0;
}


.d-none {
    display: none !important;
}


.dark-blue {
    background-color: rgb(9, 25, 49);

}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    z-index: 2;
}


.Parent-Kanban {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 372px;
}


.Kanban {
    font-size: 21px;
}


.help-log-parent {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.help-log-parent :hover {
    cursor: pointer;
}


.log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    position: relative;
}


.log-in-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid #2A3647;
}


.help-img {
    border-radius: 100%;
    margin-right: 32px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}


.Sidebar {
    position: fixed;
    width: 232px;
    left: 0px;
    top: 0px;
    bottom: 0;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    z-index: 2;
}


.Parent-Logo {
    margin: 66px;
    margin-bottom: 112px;

}

.aSide {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    height: 40px;
}


.link-img {
    margin-left: 54px;
    margin-right: 16px;
}


.notice-parent {
    height: calc(100% - 572px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.notice {
    margin-bottom: 126px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    display: flex;
}


.notice-img {
    padding-right: 26px;
}


.notice-help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


.help {
    width: 40%;
}


.how-use-it {
    display: flex;
    align-items: center;
}


.how-use-it-bold {
    margin-right: 35px;
    font-size: 27px;
}


.notice-info {
    width: 40%;
    justify-content: flex-start;

}

.logout {
    background: #2A3647;
    color: white;
    position: absolute;
    right: 0;
    bottom: -79px;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
}


.legalNotice{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.sidebarsections{
}

.focusSidebar{
   background-color:  #091931;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 10px;
  }